<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wnxy.hospital.mims.mapper.IpCashUseMapper" >
  <resultMap id="BaseResultMap" type="com.wnxy.hospital.mims.entity.IpCashUse" >
    <id column="cash_use_id" property="cashUseId" jdbcType="VARCHAR" />
    <result column="cash_id" property="cashId" jdbcType="VARCHAR" />
    <result column="cash_use_date" property="cashUseDate" jdbcType="DATE" />
    <result column="illness_id" property="illnessId" jdbcType="VARCHAR" />
    <result column="use_cash" property="useCash" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cash_use_id, cash_id, cash_use_date, illness_id, use_cash
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wnxy.hospital.mims.entity.IpCashUseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ip_cash_use
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ip_cash_use
    where cash_use_id = #{cashUseId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ip_cash_use
    where cash_use_id = #{cashUseId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wnxy.hospital.mims.entity.IpCashUseExample" >
    delete from ip_cash_use
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wnxy.hospital.mims.entity.IpCashUse" >
    insert into ip_cash_use (cash_use_id, cash_id, cash_use_date, 
      illness_id, use_cash)
    values (#{cashUseId,jdbcType=VARCHAR}, #{cashId,jdbcType=VARCHAR}, #{cashUseDate,jdbcType=DATE}, 
      #{illnessId,jdbcType=VARCHAR}, #{useCash,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.wnxy.hospital.mims.entity.IpCashUse" >
    insert into ip_cash_use
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cashUseId != null" >
        cash_use_id,
      </if>
      <if test="cashId != null" >
        cash_id,
      </if>
      <if test="cashUseDate != null" >
        cash_use_date,
      </if>
      <if test="illnessId != null" >
        illness_id,
      </if>
      <if test="useCash != null" >
        use_cash,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cashUseId != null" >
        #{cashUseId,jdbcType=VARCHAR},
      </if>
      <if test="cashId != null" >
        #{cashId,jdbcType=VARCHAR},
      </if>
      <if test="cashUseDate != null" >
        #{cashUseDate,jdbcType=DATE},
      </if>
      <if test="illnessId != null" >
        #{illnessId,jdbcType=VARCHAR},
      </if>
      <if test="useCash != null" >
        #{useCash,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wnxy.hospital.mims.entity.IpCashUseExample" resultType="java.lang.Integer" >
    select count(*) from ip_cash_use
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ip_cash_use
    <set >
      <if test="record.cashUseId != null" >
        cash_use_id = #{record.cashUseId,jdbcType=VARCHAR},
      </if>
      <if test="record.cashId != null" >
        cash_id = #{record.cashId,jdbcType=VARCHAR},
      </if>
      <if test="record.cashUseDate != null" >
        cash_use_date = #{record.cashUseDate,jdbcType=DATE},
      </if>
      <if test="record.illnessId != null" >
        illness_id = #{record.illnessId,jdbcType=VARCHAR},
      </if>
      <if test="record.useCash != null" >
        use_cash = #{record.useCash,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ip_cash_use
    set cash_use_id = #{record.cashUseId,jdbcType=VARCHAR},
      cash_id = #{record.cashId,jdbcType=VARCHAR},
      cash_use_date = #{record.cashUseDate,jdbcType=DATE},
      illness_id = #{record.illnessId,jdbcType=VARCHAR},
      use_cash = #{record.useCash,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wnxy.hospital.mims.entity.IpCashUse" >
    update ip_cash_use
    <set >
      <if test="cashId != null" >
        cash_id = #{cashId,jdbcType=VARCHAR},
      </if>
      <if test="cashUseDate != null" >
        cash_use_date = #{cashUseDate,jdbcType=DATE},
      </if>
      <if test="illnessId != null" >
        illness_id = #{illnessId,jdbcType=VARCHAR},
      </if>
      <if test="useCash != null" >
        use_cash = #{useCash,jdbcType=DOUBLE},
      </if>
    </set>
    where cash_use_id = #{cashUseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wnxy.hospital.mims.entity.IpCashUse" >
    update ip_cash_use
    set cash_id = #{cashId,jdbcType=VARCHAR},
      cash_use_date = #{cashUseDate,jdbcType=DATE},
      illness_id = #{illnessId,jdbcType=VARCHAR},
      use_cash = #{useCash,jdbcType=DOUBLE}
    where cash_use_id = #{cashUseId,jdbcType=VARCHAR}
  </update>
</mapper>