<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wnxy.hospital.mims.mapper.OpCallidlistMapper" >
  <resultMap id="BaseResultMap" type="com.wnxy.hospital.mims.entity.OpCallidlist" >
    <id column="cl_id" property="clId" jdbcType="VARCHAR" />
    <result column="rs_id" property="rsId" jdbcType="VARCHAR" />
    <result column="emp_id" property="empId" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cl_id, rs_id, emp_id, state, date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wnxy.hospital.mims.entity.OpCallidlistExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from op_callidlist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from op_callidlist
    where cl_id = #{clId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from op_callidlist
    where cl_id = #{clId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wnxy.hospital.mims.entity.OpCallidlistExample" >
    delete from op_callidlist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wnxy.hospital.mims.entity.OpCallidlist" >
    insert into op_callidlist (cl_id, rs_id, emp_id, 
      state, date)
    values (#{clId,jdbcType=VARCHAR}, #{rsId,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{date,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.wnxy.hospital.mims.entity.OpCallidlist" >
    insert into op_callidlist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clId != null" >
        cl_id,
      </if>
      <if test="rsId != null" >
        rs_id,
      </if>
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="date != null" >
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clId != null" >
        #{clId,jdbcType=VARCHAR},
      </if>
      <if test="rsId != null" >
        #{rsId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wnxy.hospital.mims.entity.OpCallidlistExample" resultType="java.lang.Integer" >
    select count(*) from op_callidlist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update op_callidlist
    <set >
      <if test="record.clId != null" >
        cl_id = #{record.clId,jdbcType=VARCHAR},
      </if>
      <if test="record.rsId != null" >
        rs_id = #{record.rsId,jdbcType=VARCHAR},
      </if>
      <if test="record.empId != null" >
        emp_id = #{record.empId,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update op_callidlist
    set cl_id = #{record.clId,jdbcType=VARCHAR},
      rs_id = #{record.rsId,jdbcType=VARCHAR},
      emp_id = #{record.empId,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      date = #{record.date,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wnxy.hospital.mims.entity.OpCallidlist" >
    update op_callidlist
    <set >
      <if test="rsId != null" >
        rs_id = #{rsId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
    </set>
    where cl_id = #{clId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wnxy.hospital.mims.entity.OpCallidlist" >
    update op_callidlist
    set rs_id = #{rsId,jdbcType=VARCHAR},
      emp_id = #{empId,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      date = #{date,jdbcType=DATE}
    where cl_id = #{clId,jdbcType=VARCHAR}
  </update>
</mapper>