<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniuxy.dao.PhDispatchMapper" >
  <resultMap id="BaseResultMap" type="com.wnxy.hospital.mims.entity.PhDispatch" >
    <id column="dispatch_id" property="dispatchId" jdbcType="VARCHAR" />
    <result column="medicine_id" property="medicineId" jdbcType="VARCHAR" />
    <result column="out_id" property="outId" jdbcType="VARCHAR" />
    <result column="dispatch_count" property="dispatchCount" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="medicine_type" property="medicineType" jdbcType="CHAR" />
    <result column="enter_date" property="enterDate" jdbcType="DATE" />
    <result column="medicine_name" property="medicineName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dispatch_id, medicine_id, out_id, dispatch_count, status, medicine_type, enter_date, 
    medicine_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wnxy.hospital.mims.entity.PhDispatchExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ph_dispatch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ph_dispatch
    where dispatch_id = #{dispatchId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ph_dispatch
    where dispatch_id = #{dispatchId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wnxy.hospital.mims.entity.PhDispatchExample" >
    delete from ph_dispatch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wnxy.hospital.mims.entity.PhDispatch" >
    insert into ph_dispatch (dispatch_id, medicine_id, out_id, 
      dispatch_count, status, medicine_type, 
      enter_date, medicine_name)
    values (#{dispatchId,jdbcType=VARCHAR}, #{medicineId,jdbcType=VARCHAR}, #{outId,jdbcType=VARCHAR}, 
      #{dispatchCount,jdbcType=INTEGER}, #{status,jdbcType=CHAR}, #{medicineType,jdbcType=CHAR}, 
      #{enterDate,jdbcType=DATE}, #{medicineName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wnxy.hospital.mims.entity.PhDispatch" >
    insert into ph_dispatch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dispatchId != null" >
        dispatch_id,
      </if>
      <if test="medicineId != null" >
        medicine_id,
      </if>
      <if test="outId != null" >
        out_id,
      </if>
      <if test="dispatchCount != null" >
        dispatch_count,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="medicineType != null" >
        medicine_type,
      </if>
      <if test="enterDate != null" >
        enter_date,
      </if>
      <if test="medicineName != null" >
        medicine_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dispatchId != null" >
        #{dispatchId,jdbcType=VARCHAR},
      </if>
      <if test="medicineId != null" >
        #{medicineId,jdbcType=VARCHAR},
      </if>
      <if test="outId != null" >
        #{outId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchCount != null" >
        #{dispatchCount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="medicineType != null" >
        #{medicineType,jdbcType=CHAR},
      </if>
      <if test="enterDate != null" >
        #{enterDate,jdbcType=DATE},
      </if>
      <if test="medicineName != null" >
        #{medicineName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wnxy.hospital.mims.entity.PhDispatchExample" resultType="java.lang.Integer" >
    select count(*) from ph_dispatch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ph_dispatch
    <set >
      <if test="record.dispatchId != null" >
        dispatch_id = #{record.dispatchId,jdbcType=VARCHAR},
      </if>
      <if test="record.medicineId != null" >
        medicine_id = #{record.medicineId,jdbcType=VARCHAR},
      </if>
      <if test="record.outId != null" >
        out_id = #{record.outId,jdbcType=VARCHAR},
      </if>
      <if test="record.dispatchCount != null" >
        dispatch_count = #{record.dispatchCount,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.medicineType != null" >
        medicine_type = #{record.medicineType,jdbcType=CHAR},
      </if>
      <if test="record.enterDate != null" >
        enter_date = #{record.enterDate,jdbcType=DATE},
      </if>
      <if test="record.medicineName != null" >
        medicine_name = #{record.medicineName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ph_dispatch
    set dispatch_id = #{record.dispatchId,jdbcType=VARCHAR},
      medicine_id = #{record.medicineId,jdbcType=VARCHAR},
      out_id = #{record.outId,jdbcType=VARCHAR},
      dispatch_count = #{record.dispatchCount,jdbcType=INTEGER},
      status = #{record.status,jdbcType=CHAR},
      medicine_type = #{record.medicineType,jdbcType=CHAR},
      enter_date = #{record.enterDate,jdbcType=DATE},
      medicine_name = #{record.medicineName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wnxy.hospital.mims.entity.PhDispatch" >
    update ph_dispatch
    <set >
      <if test="medicineId != null" >
        medicine_id = #{medicineId,jdbcType=VARCHAR},
      </if>
      <if test="outId != null" >
        out_id = #{outId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchCount != null" >
        dispatch_count = #{dispatchCount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="medicineType != null" >
        medicine_type = #{medicineType,jdbcType=CHAR},
      </if>
      <if test="enterDate != null" >
        enter_date = #{enterDate,jdbcType=DATE},
      </if>
      <if test="medicineName != null" >
        medicine_name = #{medicineName,jdbcType=VARCHAR},
      </if>
    </set>
    where dispatch_id = #{dispatchId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wnxy.hospital.mims.entity.PhDispatch" >
    update ph_dispatch
    set medicine_id = #{medicineId,jdbcType=VARCHAR},
      out_id = #{outId,jdbcType=VARCHAR},
      dispatch_count = #{dispatchCount,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      medicine_type = #{medicineType,jdbcType=CHAR},
      enter_date = #{enterDate,jdbcType=DATE},
      medicine_name = #{medicineName,jdbcType=VARCHAR}
    where dispatch_id = #{dispatchId,jdbcType=VARCHAR}
  </update>
</mapper>