<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wnxy.hospital.mims.mapper.PhMedicineInventoryMapper" >
  <resultMap id="BaseResultMap" type="com.wnxy.hospital.mims.entity.PhMedicineInventory" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="medicine_id" property="medicineId" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="damage_id" property="damageId" jdbcType="VARCHAR" />
    <result column="damage_count" property="damageCount" jdbcType="INTEGER" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="produce_date" property="produceDate" jdbcType="DATE" />
    <result column="enter_date" property="enterDate" jdbcType="DATE" />
    <result column="disable_date" property="disableDate" jdbcType="DATE" />
    <result column="warn_value" property="warnValue" jdbcType="INTEGER" />
    <result column="medicine_name" property="medicineName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, medicine_id, number, price, type, damage_id, damage_count, batch_no, produce_date, 
    enter_date, disable_date, warn_value, medicine_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wnxy.hospital.mims.entity.PhMedicineInventoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ph_medicine_inventory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ph_medicine_inventory
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ph_medicine_inventory
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wnxy.hospital.mims.entity.PhMedicineInventoryExample" >
    delete from ph_medicine_inventory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wnxy.hospital.mims.entity.PhMedicineInventory" >
    insert into ph_medicine_inventory (id, medicine_id, number, 
      price, type, damage_id, 
      damage_count, batch_no, produce_date, 
      enter_date, disable_date, warn_value, 
      medicine_name)
    values (#{id,jdbcType=VARCHAR}, #{medicineId,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, 
      #{price,jdbcType=DOUBLE}, #{type,jdbcType=CHAR}, #{damageId,jdbcType=VARCHAR}, 
      #{damageCount,jdbcType=INTEGER}, #{batchNo,jdbcType=VARCHAR}, #{produceDate,jdbcType=DATE}, 
      #{enterDate,jdbcType=DATE}, #{disableDate,jdbcType=DATE}, #{warnValue,jdbcType=INTEGER}, 
      #{medicineName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wnxy.hospital.mims.entity.PhMedicineInventory" >
    insert into ph_medicine_inventory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="medicineId != null" >
        medicine_id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="damageId != null" >
        damage_id,
      </if>
      <if test="damageCount != null" >
        damage_count,
      </if>
      <if test="batchNo != null" >
        batch_no,
      </if>
      <if test="produceDate != null" >
        produce_date,
      </if>
      <if test="enterDate != null" >
        enter_date,
      </if>
      <if test="disableDate != null" >
        disable_date,
      </if>
      <if test="warnValue != null" >
        warn_value,
      </if>
      <if test="medicineName != null" >
        medicine_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="medicineId != null" >
        #{medicineId,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="damageId != null" >
        #{damageId,jdbcType=VARCHAR},
      </if>
      <if test="damageCount != null" >
        #{damageCount,jdbcType=INTEGER},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="produceDate != null" >
        #{produceDate,jdbcType=DATE},
      </if>
      <if test="enterDate != null" >
        #{enterDate,jdbcType=DATE},
      </if>
      <if test="disableDate != null" >
        #{disableDate,jdbcType=DATE},
      </if>
      <if test="warnValue != null" >
        #{warnValue,jdbcType=INTEGER},
      </if>
      <if test="medicineName != null" >
        #{medicineName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wnxy.hospital.mims.entity.PhMedicineInventoryExample" resultType="java.lang.Integer" >
    select count(*) from ph_medicine_inventory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ph_medicine_inventory
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.medicineId != null" >
        medicine_id = #{record.medicineId,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.damageId != null" >
        damage_id = #{record.damageId,jdbcType=VARCHAR},
      </if>
      <if test="record.damageCount != null" >
        damage_count = #{record.damageCount,jdbcType=INTEGER},
      </if>
      <if test="record.batchNo != null" >
        batch_no = #{record.batchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.produceDate != null" >
        produce_date = #{record.produceDate,jdbcType=DATE},
      </if>
      <if test="record.enterDate != null" >
        enter_date = #{record.enterDate,jdbcType=DATE},
      </if>
      <if test="record.disableDate != null" >
        disable_date = #{record.disableDate,jdbcType=DATE},
      </if>
      <if test="record.warnValue != null" >
        warn_value = #{record.warnValue,jdbcType=INTEGER},
      </if>
      <if test="record.medicineName != null" >
        medicine_name = #{record.medicineName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ph_medicine_inventory
    set id = #{record.id,jdbcType=VARCHAR},
      medicine_id = #{record.medicineId,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DOUBLE},
      type = #{record.type,jdbcType=CHAR},
      damage_id = #{record.damageId,jdbcType=VARCHAR},
      damage_count = #{record.damageCount,jdbcType=INTEGER},
      batch_no = #{record.batchNo,jdbcType=VARCHAR},
      produce_date = #{record.produceDate,jdbcType=DATE},
      enter_date = #{record.enterDate,jdbcType=DATE},
      disable_date = #{record.disableDate,jdbcType=DATE},
      warn_value = #{record.warnValue,jdbcType=INTEGER},
      medicine_name = #{record.medicineName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wnxy.hospital.mims.entity.PhMedicineInventory" >
    update ph_medicine_inventory
    <set >
      <if test="medicineId != null" >
        medicine_id = #{medicineId,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="damageId != null" >
        damage_id = #{damageId,jdbcType=VARCHAR},
      </if>
      <if test="damageCount != null" >
        damage_count = #{damageCount,jdbcType=INTEGER},
      </if>
      <if test="batchNo != null" >
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="produceDate != null" >
        produce_date = #{produceDate,jdbcType=DATE},
      </if>
      <if test="enterDate != null" >
        enter_date = #{enterDate,jdbcType=DATE},
      </if>
      <if test="disableDate != null" >
        disable_date = #{disableDate,jdbcType=DATE},
      </if>
      <if test="warnValue != null" >
        warn_value = #{warnValue,jdbcType=INTEGER},
      </if>
      <if test="medicineName != null" >
        medicine_name = #{medicineName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wnxy.hospital.mims.entity.PhMedicineInventory" >
    update ph_medicine_inventory
    set medicine_id = #{medicineId,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      type = #{type,jdbcType=CHAR},
      damage_id = #{damageId,jdbcType=VARCHAR},
      damage_count = #{damageCount,jdbcType=INTEGER},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      produce_date = #{produceDate,jdbcType=DATE},
      enter_date = #{enterDate,jdbcType=DATE},
      disable_date = #{disableDate,jdbcType=DATE},
      warn_value = #{warnValue,jdbcType=INTEGER},
      medicine_name = #{medicineName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>