<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wnxy.hospital.mims.mapper.PhOutMedicineMapper" >
  <resultMap id="BaseResultMap" type="com.wnxy.hospital.mims.entity.PhOutMedicine" >
    <id column="out_id" property="outId" jdbcType="VARCHAR" />
    <result column="dl_id" property="dlId" jdbcType="VARCHAR" />
    <result column="drug_id" property="drugId" jdbcType="VARCHAR" />
    <result column="subtotal" property="subtotal" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    out_id, dl_id, drug_id, subtotal, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wnxy.hospital.mims.entity.PhOutMedicineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ph_out_medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ph_out_medicine
    where out_id = #{outId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ph_out_medicine
    where out_id = #{outId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wnxy.hospital.mims.entity.PhOutMedicineExample" >
    delete from ph_out_medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wnxy.hospital.mims.entity.PhOutMedicine" >
    insert into ph_out_medicine (out_id, dl_id, drug_id, 
      subtotal, status)
    values (#{outId,jdbcType=VARCHAR}, #{dlId,jdbcType=VARCHAR}, #{drugId,jdbcType=VARCHAR}, 
      #{subtotal,jdbcType=DOUBLE}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wnxy.hospital.mims.entity.PhOutMedicine" >
    insert into ph_out_medicine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="outId != null" >
        out_id,
      </if>
      <if test="dlId != null" >
        dl_id,
      </if>
      <if test="drugId != null" >
        drug_id,
      </if>
      <if test="subtotal != null" >
        subtotal,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="outId != null" >
        #{outId,jdbcType=VARCHAR},
      </if>
      <if test="dlId != null" >
        #{dlId,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null" >
        #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="subtotal != null" >
        #{subtotal,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wnxy.hospital.mims.entity.PhOutMedicineExample" resultType="java.lang.Integer" >
    select count(*) from ph_out_medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ph_out_medicine
    <set >
      <if test="record.outId != null" >
        out_id = #{record.outId,jdbcType=VARCHAR},
      </if>
      <if test="record.dlId != null" >
        dl_id = #{record.dlId,jdbcType=VARCHAR},
      </if>
      <if test="record.drugId != null" >
        drug_id = #{record.drugId,jdbcType=VARCHAR},
      </if>
      <if test="record.subtotal != null" >
        subtotal = #{record.subtotal,jdbcType=DOUBLE},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ph_out_medicine
    set out_id = #{record.outId,jdbcType=VARCHAR},
      dl_id = #{record.dlId,jdbcType=VARCHAR},
      drug_id = #{record.drugId,jdbcType=VARCHAR},
      subtotal = #{record.subtotal,jdbcType=DOUBLE},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wnxy.hospital.mims.entity.PhOutMedicine" >
    update ph_out_medicine
    <set >
      <if test="dlId != null" >
        dl_id = #{dlId,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null" >
        drug_id = #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="subtotal != null" >
        subtotal = #{subtotal,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where out_id = #{outId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wnxy.hospital.mims.entity.PhOutMedicine" >
    update ph_out_medicine
    set dl_id = #{dlId,jdbcType=VARCHAR},
      drug_id = #{drugId,jdbcType=VARCHAR},
      subtotal = #{subtotal,jdbcType=DOUBLE},
      status = #{status,jdbcType=INTEGER}
    where out_id = #{outId,jdbcType=VARCHAR}
  </update>
</mapper>