#main-nav {
	margin-left: 1px;
}

#main-nav.nav-tabs.nav-stacked>li>a {
	padding: 10px 8px;
	font-size: 12px;
	font-weight: 600;
	color: #4A515B;
	background: #fff;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #fff));
	background: -webkit-linear-gradient(top, #FAFAFA 0%, #fff 100%);
	background: -o-linear-gradient(top, #FAFAFA 0%, #fff 100%);
	background: -ms-linear-gradient(top, #FAFAFA 0%, #fff 100%);
	background: linear-gradient(top, #FAFAFA 0%, #fff 100%);
	border: 1px solid #4cd5ff;
	border-radius: 4px;
}
/* 一级菜单字体颜色 */
#main-nav.nav-tabs.nav-stacked>li>a>span {
	color: #4A515B;
}

#main-nav.nav-tabs.nav-stacked>li.active>a,
#main-nav.nav-tabs.nav-stacked>li>a:hover {
	color: #FFF;
	background: #4cd5ff;
	border: 1px solid #4cd5ff;
	border-color: #fff;
	background: -moz-linear-gradient(top, #4cd5ff 0%, #4cd5ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4cd5ff), color-stop(100%, #4cd5ff));
	background: -webkit-linear-gradient(top, #29ccff 0%, #007fab 100%);
	background: -o-linear-gradient(top, #4cd5ff 0%, #4cd5ff 100%);
	background: -ms-linear-gradient(top, #4cd5ff 0%, #4cd5ff 100%);
	background: linear-gradient(top, #4cd5ff 0%, #4cd5ff 100%);
}

#main-nav.nav-tabs.nav-stacked>li.active>a,
#main-nav.nav-tabs.nav-stacked>li>a:hover>span {
	color: #FFF;
}

#main-nav.nav-tabs.nav-stacked>li {
	/* margin-bottom: 4px; */
}


/*定义二级菜单样式*/

.secondmenu a {
	font-size: 10px;
	color: #4A515B;
	padding-left: 30px !important;
}

.navbar-static-top {
	background-color: #4cd5ff;
	margin-bottom: 5px;
}

.navbar-brand {
	background: url('') no-repeat 10px 8px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 50px;
	color: #fff;
}

.lia {
	background-color: #9de9ff;
}
