<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
<link rel="stylesheet" th:href="@{/css/mystl.css}">
<style type="text/css">
ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	
}
li {
	list-style-type: none;
}
</style>
<script type="text/javascript">

$(function(){
 
});
</script>
</head>
<body>
<!-- 住院部 -->
<ul>
	<li>
		<a >主任角色</a>
		<ul>
			<li><a href="" target="right">功能一</a></li>
			<li><a href="" target="right">功能二</a></li>
			<li><a href="" target="right">功能三</a></li>
		</ul>
	</li>
		
	<li>
		<a >医生角色</a>
		<ul>
			<li><a href="" target="right">功能一</a></li>
			<li><a href="" target="right">功能二</a></li>
			<li><a href="" target="right">功能三</a></li>
		</ul>
	</li>
	<li>
		<a >药品收费员角色</a>
		<ul>
			<li><a href="" target="right">功能一</a></li>
			<li><a href="" target="right">功能二</a></li>
			<li><a href="" target="right">功能三</a></li>
		</ul>
	</li>
</ul>
<!-- 门诊部 -->
<ul>
	<li>
		<a >角色A</a>
		<ul>
			<li><a href="" target="right">功能一</a></li>
			<li><a href="" target="right">功能二</a></li>
			<li><a href="" target="right">功能三</a></li>
		</ul>
	</li>
		
	<li>
		<a >角色B</a>
		<ul>
			<li><a href="" target="right">功能一</a></li>
			<li><a href="" target="right">功能二</a></li>
			<li><a href="" target="right">功能三</a></li>
		</ul>
	</li>
	<li>
		<a >角色C</a>
		<ul>
			<li><a href="" target="right">功能一</a></li>
			<li><a href="" target="right">功能二</a></li>
			<li><a href="" target="right">功能三</a></li>
		</ul>
	</li>
</ul>
</body>
</html>