<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>住院病人信息</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
<style type="text/css">
body{
padding: 10px;
}
#main_table thead tr th{
height: 30px;
text-align: center;
vertical-align: middle;
}
#main_table tbody tr td{
padding:4px;
height: 30px;
text-align: center;
vertical-align: middle;
}
.th1,.th2,.th3,.th5,{
width: 10%;
}
.th4,.th6{
width: 12%;
}
.th8{
width: 10%;
}
/* 分页设置 */
#numberdiv{
position: absolute;
bottom: 0px;
width: 100%;
text-align:center;
}
#numberdiv ul{
margin: auto;
}
</style>
<style type="text/css">

</style>
</head>
<body>
<table id="main_table" class="table table-bordered">
	<caption>住院病人信息</caption>
	<thead>
		<tr>
			<th class="th1">姓名</th>
			<th class="th2">性别</th>
			<th class="th3">年龄</th>
			<th class="th4">电话</th>
			<th class="th5">家属姓名</th>
			<th class="th6">家属电话</th>
			<th class="th7">住址</th>
			<th class="th8">操作</th>
		</tr>
	</thead>
	<tbody>
 		<tr th:each="pt:${pts.list}">
			<td>[[${pt.ptName}]]</td>
			<td>[[${pt.sex}]]</td>
			<td>[[${pt.age}]]</td>
			<td>[[${pt.phone}]]</td>
			<td>[[${pt.familyperson}]]</td>
			<td>[[${pt.familyphone}]]</td>
			<td>[[${pt.address}]]</td>
			<td><a th:href="@{/patient_select/}+${pt.ptId}"><button type="button" class="btn btn-primary">修改</button></a></td>
		</tr> 
	</tbody>
</table>
<!-- 分页 -->
<div id="numberdiv">
	<ul class="pagination">
		<!-- 上一页 -->
		<li th:if="${!pts.hasPreviousPage}"><a href="javascript:void(0)">&laquo;</a></li>
		<li th:if="${pts.hasPreviousPage}"><a th:href="@{/ip_patient?index=}+${pts.pageNum-1}">&laquo;</a></li>
		<!-- 中间页 -->
		<li th:if="${pts.pageNum>1}" th:each="inde:${#numbers.sequence(1,pts.pageNum-1)}" >
			<a th:if="${pts.pageNum!=inde}" th:href="@{/ip_patient?index=}+${inde}">[[${inde}]]</a>
		</li>
		<li class="active"><a href="javascript:void(0)">[[${pts.pageNum}]]</a></li>
		<li th:if="${pts.pageNum<pts.pages}" th:each="inde:${#numbers.sequence(pts.pageNum+1,pts.pages)}" >
			<a th:if="${pts.pageNum!=inde}" th:href="@{/ip_patient?index=}+${inde}">[[${inde}]]</a>
		</li>
		<!-- 下一页 -->
		<li th:if="${pts.hasNextPage}"><a th:href="@{/ip_patient?index=}+${pts.pageNum+1}">&raquo;</a></li>
		<li th:if="${!pts.hasNextPage}"><a href="javascript:void(0)">&raquo;</a></li>
	</ul>
</div>

</body>

<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</html>