<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>修改病人信息</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
<style type="text/css">
body{
padding: 10px;
}
td,th{
text-align: center;
}
#maintable td,#maintable th{
text-align: center;
vertical-align: middle;
}
.form-group{
margin: 0px;
}
#main_div{
width: 90%;
}
</style>
<script type="text/javascript">
$(function(){

});
function check(){
 	if($("#phone").val().length!=11){
 		alert("请输入正确的病人手机号");
		return false;
	}else if($("#familyperson").val().length>4||$("#familyperson").val().length<2){
 		alert("请输入家属真实姓名");
		return false;
	}else if($("#familyphone").val().length!=11){
 		alert("请输入正确的家属手机号");
		return false;
	}else if($("#address").val().length>255){
 		alert("地址过长，请限制255以内");
		return false;
	}else{
		return true;
	} 
}
</script>
</head>
<body>
<div id="main_div" class="col-sm-10">
<form onsubmit="return check()" role="form" th:action="@{/patient_alter_sub}" method="post">
<table id="maintable"  class="table table-bordered">
	<caption><label for="name">修改病人信息</label></caption>
	<tbody>
		<tr>
			<td>姓名：</td>
			<td>[[${pt.ptName}]]</td>
			<td>性别：</td>
			<td>[[${pt.sex}]]</td>
		</tr>
		<tr>
			<td>年龄：</td>
			<td>[[${pt.age}]]</td>
			<td>电话：</td>
			<td><input class="form-control" id="phone"  name="phone" type="number" th:value="${pt.phone}"/></td>
		</tr>
		<tr>
			<td>家属姓名：</td>
			<td><input class="form-control" id="familyperson"  name="familyperson" type="text" th:value="${pt.familyperson}"/></td>
			<td>家属电话：</td>
			<td><input class="form-control" id="familyphone"  name="familyphone" type="number" th:value="${pt.familyphone}"/></td>
		</tr>
		<tr>
			<td>住址：</td>
			<td colspan="3"><input class="form-control" id="address"  name="address" type="text" th:value="${pt.address}"/></td>
		</tr>
	</tbody>
</table>
	<input type="hidden" name="id" th:value="${pt.ptId}"/>
	<button type="submit" class="btn btn-default">提交</button>
</form>
</div>
</body>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</html>