<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>办就诊卡</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
<style type="text/css">
body {
	padding: 15px;
}
/* 去掉number控件的加减 */
/* google、safari */
	input::-webkit-outer-spin-button,  
	input::-webkit-inner-spin-button{  
    	-webkit-appearance: none !important;  
    	margin: 0;  
	}
	/* firefox */
	input[type="number"]{
        -moz-appearance: textfield;
    }
</style>
<script>
	//生成当前日期给表单中的date
	$(function() {
		var time = new Date();
		var day = ("0" + time.getDate()).slice(-2);
		var month = ("0" + (time.getMonth() + 1)).slice(-2);
		var nowADays = time.getFullYear() + "-" + (month) + "-" + (day);
		$('#date').val(nowADays);
	})
</script>
</head>
<body>
	<!-- 录入患者基本信息 -->
	<!-- 暂时用同步提交 -->
	<form th:action="@{/op_newCard}">
		<table>
			<tr>
				<td>患者姓名:<input th:text name="ptName" placeholder="请输入患者姓名">
				</td>
			</tr>
			<tr>
				<td>身份证号:<input type="number" name="ptId" placeholder="请输入身份证号">
				</td>
			</tr>

			<tr>
				<td>患者年龄:<input type="number" name="age" placeholder="请输入患者年龄"></td>
			</tr>
			<tr>
				<td>患者性别:<input th:text name="sex" placeholder="请输入患者性别"></td>
			</tr>

			<tr>
				<td>患者生日:<input type="date" name="birthday" placeholder="请输入患者生日">
				</td>
			</tr>
			<tr>
				<td>患者手机号:<input type="number" name="phone" placeholder="请输入患者手机号">
				</td>
			</tr>

			<tr>
				<td>家属姓名:<input th:text name="familyperson"
					placeholder="请输入患者家属姓名">
				</td>
			</tr>
			<tr>
				<td>家属手机号:<input type="number" name="familyphone"
					placeholder="请输入患者家属手机号"></td>
			</tr>
			<tr>
				<td>联系地址:<input th:text name="address" placeholder="请输入患者联系地址">
				</td>
			</tr>

		</table>
		<input type="hidden" id="date" name="date">
		<!-- 隐藏字段，通过js给日期赋值 -->

		<button type="submit">办卡</button>
	</form>


</body>

<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</html>