<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>展示所有门诊科室</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-paginator.js}"></script>
<style type="text/css">
body {
	padding: 15px;
}

#title{
font-weight:bold;
}
</style>


</head>
<body>

	<tr>
		<div id="title">门诊科室</div>

	</tr>
	<div>
		<tr th:each="opDep:${opDeps}">
			<ul>
				<li><a th:href="@{/op_showDocInDep/}+${opDep.depId}">
						[[${opDep.depName}]] </a></li>
			</ul>
		</tr>
	</div>




</body>

<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</html>