<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>展示科室下所有医生分页</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<style type="text/css">
body {
	padding: 10px;
}

img {

	width: 150px;
}

li {
	width: 200px;
	height: 200px;
	list-style-type: none;
	box-shadow: 10px 10px 4px #888888;
	list-style: none;
	text-align: center;
}

div {
	margin: 0 auto;
}

ul {
	width: 500px;
}

#pageNavi {
	width: 500px;
	text-align: center;
	position: absolute;
	bottom:-30px;
}

#title {
	font-weight: bold;
	text-align: left;
}
</style>
<style type="text/css">
</style>
<script type="text/javascript">
	
</script>
</head>
<body>

	<caption><label for="name">科室医生</label></caption>


	<div class="container-fluid">

		<div class="row1">

			<div class="col-md-2">


				<ul>

					<li th:each="emp:${empsPage.list}" style="float: left;">
						<div>

							<a th:href="@{/op_showDocDetail/}+${emp.empId}"> <img
								th:src="@{${emp.empPhoto}}" alt="图片">

								<div></a> <a th:href="@{/op_showDocDetail/}+${emp.empId}">
								[[${emp.empName}]]</a>
						</div>
			</div>

			</li>

			</ul>
			<tr>
				<div id="pageNavi">
					<tr th:each="enablePageNum:${empsPage.navigatepageNums}">
						<a
							th:href="@{/op_showDocInDepPage/}+${empsPage.list[0].depId}+${'/'+enablePageNum}">[[${enablePageNum}]]</a>
					</tr>

				</div>
			</tr>

		</div>




	</div>

	</div>





</body>
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</html>