<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>展示科室下所有医生</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-paginator.js}"></script>
<style type="text/css">
body {
	padding: 15px;
}

img {
	height: 100px;
}

li {
	width: 300px; list-style-type : none;
	padding: 10px;
	border-radio: 25%;
	box-shadow: 10px 10px 5px #888888;
	list-style-type: none;
}

div {
	margin: 0 auto;
}

#title {
	font-weight: bold;
	text-align: left;
}
</style>

</head>
<body>

	<div id="title">科室医生</div>


	<div class="container-fluid">

		<div class="row1">

			<div class="col-md-2">


				<ul>
					<li th:each="emp:${emps}">
						<div>
							<a th:href="@{/op_showDocDetail/}+${emp.empId}">
								[[${emp.empName}]]</a> <a
								th:href="@{/op_showDocDetail/}+${emp.empId}"> <img
								th:src="@{${emp.empPhoto}}" alt="图片">
							</a>


						</div>

					</li>
				</ul>




			</div>

		</div>
	</div>
</body>

<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</html>