<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>医生工作台</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<style>
    .tb1 {
        height: 400px;
    }
    
    .row {
        margin: 0px;
    }
    
    .workbench {
        padding: 5% 5%;
    }
    
    th,
    td,
    .page {
        text-align: center;
    }
    
    ul {
        margin: 0px auto;
    }
    
    span,
    ul {
        font-size: 20px;
    }
    
    .left {
        height: 850px;
        border-right: 2px #4CD5FF solid;
    }
</style>
<script th:src="@{/js/jquery-2.1.4.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/vue.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>

<body>

    <div class="row" id="callid">
        <div class="col-xs-3 left">
            <br/>
            <button type="button" class="btn btn-group-xs btn-primary" @click="getcallList">开始排号</button>
            <table class="table tb1">
                <thead>
                    <tr>
                        <th colspan="3"><span>待就诊</span></th>
                    </tr>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(callid, index) in waitlist">
                    <tr v-if="callid.state < 1 ">
                        <td v-text="index + 1"></td>
                        <td v-text="callid.registrydto.patient.ptName"></td>
                        <td><button class="btn btn-default btn-group-sm" @click="call(index)">叫号</button></td>
                    </tr>
                </template>
                </tbody>
            </table>
            <!-- 分页 -->
            <div class="col-xs-12 page">
                <ul class="pagination pagination-sm">
                    <li>
                        <a href="#" @click="prepage">Prev</a>
                    </li>
                    <template v-for="num in pages">
	                    <li v-if="num == pageIndex" class="active">
	                        <a href="#" v-text="num" @click="dopage(num)"></a>
	                    </li>
	                    <li v-else>
	                        <a href="#" v-text="num" @click="dopage(num)"></a>
	                    </li>
                   	</template>
                    <li>
                        <a href="#" @click="nextpage">Next</a>
                    </li>
                </ul>
            </div>
            <table class="table tb2">
                <thead>
                    <tr>
                        <th colspan="3"><span>就诊中</span></th>
                    </tr>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="activelist[0]!=null">
                        <td>1</td>
                        <td v-text="activelist[0].registrydto.patient.ptName"></td>
                        <td><button class="btn btn-default btn-group-sm" @click="wait(activelist[0].callistid)"><a href="#">等待</a></button>
                            <button class="btn btn-default btn-group-sm" @click="finish(activelist[0].callistid)"><a href="#">诊毕</a></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-8">
            <!-- 工作台 -->

            <div class="row" style="padding: 20px 50px 10px;">
                <template v-if="activelist[0] != null">
                     <span>当前病人</span> <br/> 
                     <div style="font-size:18px;">
				                        挂号单号:{{activelist[0].registrydto.registryid}}<br/>
				                        姓名： {{activelist[0].registrydto.patient.ptName}}<br/> 
				                        性别: {{activelist[0].registrydto.patient.sex}}<br/>
				                        年龄: {{activelist[0].registrydto.patient.age}}<br/>
				                        电话: {{activelist[0].registrydto.patient.phone}}<br/>
                     </div>
            	</template>
                <template v-else>
            		 <span>当前病人</span> <br/> 
                	<div style="font-size:18px;">
				                        挂号单号:<br/>
				                        姓名： <br/> 
				                        性别: <br/>
				                        年龄: <br/>
				                        电话: <br/>
                     </div>
            	</template>

            </div>
            <div class="tabbable" id="tabs-25799" style="padding: 20px 50px 10px;">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-casehistory" data-toggle="tab">病历</a>
                    </li>
                    <li>
                        <a href="#panel-treatment" data-toggle="tab">治疗方案</a>
                    </li>
                    <li>
                        <a href="#panel-prescription" data-toggle="tab">处方</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="panel-casehistory">
                        <!--病历模板-->
                        <div style="padding: 50px 50px 10px;">
                            <form class="bs-example bs-example-form" role="form">
                                <div class="input-group ">
                                    <span class="input-group-addon">主述</span>
                                    <textarea cols="30" rows="10" class="form-control" placeholder="病情描述"></textarea>
                                </div>
                                <br>
                                <div class="input-group ">
                                    <span class="input-group-addon ">发病时间</span>
                                    <input type="date" class="form-control" placeholder="选择日期">
                                </div>
                                <br>
                                <div class="input-group ">
                                    <span class="input-group-addon ">既往史</span>
                                    <input type="text" class="form-control" placeholder="有无既往史">
                                </div>
                                <br>
                                <div class="input-group ">
                                    <span class="input-group-addon ">过敏史</span>
                                    <input type="text" class="form-control" placeholder="有无过敏史">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane" id="panel-treatment" style="padding: 50px 50px 10px;">
                        <!--治疗方案-->
                        <button class="btn btn-primary btn-lg" type="button" @click="gotooutpatient">门诊治疗</button>
                        <br/>
                        <br/>
                        <button class="btn btn-primary btn-lg" type="button" @click="gotoinpatient">住院</button>
                        <br/>
                        <br/>
                    </div>

                    <div class="tab-pane" id="panel-prescription" style="padding: 5px 50px 10px;">
                        <!--处方模板-->
                        <br/>
                        <button class="btn btn-primary">添加处方</button><br/><br/> 药品类别：
                        <select class="selectpicker" data-style="btn-primary">
							<option value="PA">Pennsylvania</option>
							<option value="CT">Connecticut</option>
							<option value="NY">New York</option>
							<option value="MD">Maryland</option>
							<option value="VA">Virginia</option>
						</select> 药品名：
                        <input type="search">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>药品名</th>
                                    <th>价格(￥)</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>zs</td>
                                    <td><button class="btn btn-default btn-group-sm"><a href="#">添加</a></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- 分页 -->
                        <div class="col-xs-12 page">
                            <ul class="pagination pagination-sm">
                                <li>
                                    <a href="#">Prev</a>
                                </li>
                                <li>
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>药品名</th>
                                    <th>单价(￥)</th>
                                    <th>数量</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>阿木西林</td>
                                    <td>22.2</td>
                                    <td><button>-</button> 1 <button>+</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- 分页 -->
                        <div class="col-xs-12 page">
                            <ul class="pagination pagination-sm">
                                <li>
                                    <a href="#">Prev</a>
                                </li>
                                <li>
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                        医嘱：<textarea cols="30" rows="5" class="form-control" placeholder="医嘱"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#callid',
            data: {
                message: 'Hello Vue!',
                waitlist: [],
                activelist: [],
                pageIndex: 1,
                pages: 0,
                description: '',
                empid: '8e75f225-5d1e-11ea-ba6e-00ffaca66b24'
            },
            methods: {
                readcasehistory: function() { //读取病历
                    alert(1)
                },
                gotooutpatient: function() { //门诊治疗跳转
                    if (confirm("确认门诊治疗")) {
                        this.waitlist[0]
                    }
                },
                gotoinpatient: function() { //住院治疗跳转
                    if (confirm("确认住院治疗")) {
                        var that = this
                        axios.post('/callid/inpatientorder', {
                                patientid: this.activelist[0].registrydto.patient.ptId,
                                empid: this.activelist[0].doctor.empid,
                                description: this.description
                            })
                            .then(function(response) {
                                alert(response);
                            })
                            .catch(function(error) {
                                console.log(error);
                            });
                    }
                },
                getcallList: function() { //读取叫号表
                    var that = this
                    axios.post('/callid/getcallList', {
                            empid: this.empid,
                            pageIndex: this.pageIndex
                        })
                        .then(function(response) {
                            that.waitlist = response.data.list //记录当前排队病人
                            for (let i = 0; i < that.waitlist.length; i++) {
                                if (that.waitlist[i].state == 1 && that.activelist.length < 1) { //是否存在正在就诊的人
                                    that.activelist.push(that.waitlist[i]) //记录当前病人信息
                                }
                            }
                            that.pages = response.data.pages
                        })
                        .catch(function(error) {
                            console.log(error);
                        });
                },
                call: function(index) { //叫号操作
                    var cont = 0
                    for (let i = 0; i < this.waitlist.length; i++) { //是否存在第二个正在就诊的人
                        if (this.waitlist[i].state == 1) {
                            cont += 1
                        }
                    }
                    if (this.activelist.length != 0) { //判断当前是否有病人就诊
                        cont += 1
                    }
                    if (cont < 1) { //每次只能叫一个人就诊
                        var callistid = this.waitlist[index].callistid
                        this.activelist.push(this.waitlist[index]) //记录当前病人信息
                        axios.post('/callid/setcallId', {
                                calllistid: callistid,
                                state: 1
                            })
                            .then(function(response) {
                                alert(response.data)
                            })
                            .catch(function(error) {
                                console.log(error);
                            });
                        this.getcallList()
                    } else {
                        alert("请先完成当前病人就诊")
                    }
                    //加载当前病人的病历
                    this.readcasehistory();
                },
                wait: function(callistid) { //等待操作
                    if (confirm("请确认该病人等待")) {
                        this.activelist.pop() //删除当前病人信息
                        axios.post('/callid/setcallId', {
                                calllistid: callistid,
                                state: 0
                            })
                            .then(function(response) {
                                alert(response.data)
                            })
                            .catch(function(error) {
                                console.log(error);
                            });
                        this.getcallList()
                    }
                },
                finish: function(callistid) { //完成就诊
                    if (confirm("请确认该病人完成就诊 ")) {
                        alert(this.activelist.length)
                        this.activelist.pop() //删除当前病人信息
                        alert(this.activelist.length)
                        axios.post('/callid/setcallId', {
                                calllistid: callistid,
                                state: 2
                            })
                            .then(function(response) {
                                alert(response.data)
                            })
                            .catch(function(error) {
                                console.log(error);
                            });
                        this.getcallList()
                    }
                },
                prepage: function() { //前一页
                    if (this.pageIndex - 1 >= 1) {
                        this.pageIndex -= 1
                        this.getcallList()
                    }
                },
                nextpage: function() { //后一页
                    if (this.pageIndex + 1 <= this.pages) {
                        this.pageIndex += 1
                        this.getcallList()
                    }
                },
                dopage: function(num) { //跳转页
                    if (this.pageIndex != num) {
                        this.pageIndex = num
                        this.getcallList()
                    }
                }
            }
        })
    </script>


</body>

</html>